<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
     <%- include("partials/css_style") %> 
      <title>KJRE School</title>
   </head>
   <body>
     <%- include("partials/header_links") %> 
      <main>
         <section class="school-info">
            <h2>KRJE School of Advance Studies</h2>
            <p>
               Lorem ipsum dolor sit amet consectetur adipisicing elit.
               Veritatis voluptatum hic mollitia neque dignissimos in minus
               voluptates officia sunt impedit, eum placeat repellendus? Ipsa
               eligendi consectetur minus accusamus ut nam! Placeat iure
               consequatur nemo quis, vero assumenda suscipit debitis deserunt
               non! Rerum dolore nulla voluptatibus nesciunt voluptas veniam
               veritatis nostrum, voluptatum tenetur maxime nihil iste officiis
               odit facere sunt laudantium. Sunt sapiente alias quam nesciunt
               totam corporis numquam obcaecati similique impedit laboriosam
               quas fugiat mollitia provident molestiae, consectetur officia
               tenetur nam quasi sit maxime. Numquam non doloribus distinctio
               autem quibusdam! Delectus repellendus facere repellat dolorum nam
               odio suscipit at, minima cumque. Autem labore unde doloremque
               nam, ad quos delectus minima mollitia magni, tenetur id ducimus
               non quae? Nobis, error non.
            </p>
            <p>
               Lorem, ipsum dolor sit amet consectetur adipisicing elit. Amet
               est nihil doloremque eum minima dolorem corporis ullam quibusdam
               magni beatae itaque inventore dignissimos dolores distinctio nemo
               maxime illum, id blanditiis? Officiis eligendi molestiae a, est
               dolores veritatis nisi doloribus molestias fugit qui ratione odio
               natus quia at impedit maiores adipisci optio aspernatur non,
               fugiat commodi? Praesentium delectus porro accusamus eveniet. Vel
               perspiciatis debitis id, accusamus aut, sequi non, officia in
               temporibus error ullam deleniti pariatur. Odio nisi fugit aperiam
               optio. Consequuntur excepturi similique deserunt pariatur
               temporibus minus, maxime error voluptas! Numquam ab sit corporis.
               Quas ullam minima libero quod nobis sequi dolorum, pariatur
               perferendis totam impedit ea exercitationem unde velit
               consectetur temporibus corrupti consequuntur doloremque enim
               nisi! Illum, esse recusandae? Placeat sequi consequuntur aperiam
               laudantium esse facilis quis iste numquam minima veritatis
               deleniti dicta saepe molestias consequatur nobis, ea, cum eius
               mollitia repudiandae enim itaque sed nemo aspernatur. Voluptates,
               ipsum!
            </p>
            <div class="icon-container">
               <i class="fab fa-accusoft"></i>
               <i class="fab fa-affiliatetheme"></i>
               <i class="fas fa-campground"></i>
            </div>
         </section>
         <section class="additional-info">
            <h3>About</h3>
            <p>
               Lorem ipsum dolor sit amet consectetur adipisicing elit.
               Assumenda cumque corrupti sit at natus molestias nihil
               voluptatibus aliquid laborum suscipit officia impedit, ut
               repellat odit itaque quis minima? Placeat, facere? Amet quos ab
               ipsa doloribus possimus dolorem doloremque eum voluptatibus
               minima error, impedit est at, quaerat porro iusto neque totam.
               Labore repudiandae aut quidem consequatur saepe praesentium ea.
               Accusantium, voluptates. Quis iure nulla debitis in fuga et?
               Aperiam, quae explicabo? Perferendis rem explicabo excepturi eius
               optio eaque alias est sunt, deserunt vel quibusdam quam officia
               voluptate iste dolores, qui culpa!
            </p>
            <p>
               Lorem ipsum dolor sit amet consectetur adipisicing elit.
               Similique corrupti ab tempora error praesentium! Illo quidem
               nostrum quia, officiis amet eveniet. Beatae magni maxime, dolorum
               accusantium porro ab totam quia.
            </p>
         </section>
      </main>
      <footer>
          <p class="copyrights">Poperty of KJRE</p>
      </footer>
   </body>
</html>
