@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 9vh;
    margin: auto;
    background: #22223b;
    font-family: 'Open Sans', sans-serif;
}

body {
    background: linear-gradient(180deg, #f2e9e4, #9a8c98);
}

.logo {
    height: 50px;
    cursor: pointer;
}

.logo-container {
    flex: 1;
    display: flex;
    justify-content: center;
}

nav {
    flex: 2;
}

.nav-links {
    display: flex;
    padding: 0.5rem 0.3rem;
    height: auto;
    list-style: none;
    justify-content: center;
}

.nav-link {
    text-decoration: none;
    color: #f2e9e4;
    transition: all 0.3s ease;
    margin: 0 1rem;
}

.nav-link:hover {
    color: #c9ada7;
}

.register-container {
    display: flex;
    flex: 1;
    justify-content: center;
}

.register-container button {
    color: #f2e9e4;
    background: #c9ada7;
    border: none;
    padding: 10px 35px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.register-container button:hover {
    background-color: #f2e9e4;
    color: #22223b;
    border-radius: 10px;
}

.toggle-button {
    font-size: 1.8rem;
    color: #f2e9e4;
    cursor: pointer;
    background: transparent;
    border: transparent;
    display: none;
    margin: 0 10px;
    position: absolute;
    top: 10px;
    right: 0;
}

.review-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.review {
    width: 70vw;
    text-align: center;
    margin: auto;
    height: auto;
    background-color: #4a4e69;
    border-radius: 15px;
    padding: 0 20px;
}

main {
    font-family: 'Open Sans', sans-serif;
    min-height: 100vh;
    display: grid;
    place-items: center;
}

.title {
    text-align: center;
    margin: 2.5rem;
}

.title h2 {
    font-size: 2rem;
    color: #22223b;
}

.underline {
    height: 0.25rem;
    width: 8rem;
    background-color: #c9ada7;
    margin: 0 auto;
}

.review-img {
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 1.5rem auto;
}

.person-img {
    width: 100%;
    display: block;
    height: 100%;
    object-fit: cover;
    position: relative;
    border-radius: 50%;
}

.name {
    color: #f2e9e4;
    font-size: 1.5rem;
    text-transform: uppercase;
}

.job {
    color: #c9ada7;
    text-transform: uppercase;
    font-size: 1.2rem;
    margin-bottom: 1.3rem;
}

.info {
    text-align: center;
    color: #f2e9e4;
    font-size: .9rem;
    line-height: 1.4;
    margin-bottom: 1.5rem;
    letter-spacing: 1px;
}

.buttons {
    margin: 1.5rem auto;
}

.prev-button, .next-button {
    background: none;
    border: none;
    font-size: 2.3rem;
    cursor: pointer;
    color: #f2e9e4;
    transition: all 0.3s ease;
    margin: 0 20px;
    padding: 0 .7rem;
}

.prev-button:hover, .next-button:hover {
    color: #c9ada7;
}

.cards-container {
    width: 70%;
    margin: auto;
    margin-top: 4rem;
    min-height: 100vh;
}

.member-type{
    display: none;
}

.cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card {
    background: #f2e9e4;
    text-align: center;
    width: 30%;
    min-height: 75vh;
    border-radius: 10px;
    padding-bottom: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.card:hover {
    box-shadow: 0px 5px 5px #22223b;
}

.card-img {
    margin: 20px 0;
}

.card-img img {
    width: 50%;
}

.content {
    width: 90%;
    margin: 0 auto;
}

.card h3 {
    color: #4a4e69;
    font-size: 1.3rem;
    margin-bottom: 10px;
}

.card p {
    line-height: 1.5;
    font-size: 0.9rem;
    color: #22223b;
    margin-bottom: 10px;
}

.card span {
    font-size: 2.5rem;
    color: #4a4e69;
}

.line {
    height: 0.25rem;
    width: 90%;
    background-color: #22223b;
    margin: 0 auto;
}

footer {
    background: #22223b;
    color: #f2e9e4;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 22vh;
}

.social-button {
    background: none;
    border: none;
    font-size: 2rem;
    color: #f2e9e4;
    margin: 0 10px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.social-button:hover{
    color: #c9ada7;
}

.social-links {
    flex: 1;
    display: flex;
    justify-content: center;
}

.copyright {
    flex: 2;
    text-align: center;
}

.email-footer {
    flex: 1;
    margin: 0 15px;
}

.email-footer p {
    font-size: 0.9rem;
    margin: 10px 0;
}

.email-footer button {
    border: none;
    background: #c9ada7;
    color: #f2e9e4;
    padding: 10px 15px;
    transition: all 0.3s ease;
}

.email-footer button:hover{
    border-radius: 10px;
}

@media screen and (max-width: 700px) {
    header {
        display: inline-block;
        width: 100%;
    }
    .toggle-button {
        display: flex;
    }
    .logo-container {
        justify-content: flex-start;
        margin-left: 15px;
    }
    .nav-links {
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        height: 0;
        overflow: hidden;
        padding: 0;
        transition: all 0.3s ease;
    }
    nav {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .register-container {
        height: 0;
        overflow: hidden;
    }
    .active {
        height: 10rem;
    }
    .active-register {
        height: 3rem;
        margin: 1rem;
    }
    .review-container {
        display: none;
    }
    .member-type{
        display: inline;
        color: #22223b;
        font-size: 2rem;
        font-family: 'Open Sans', sans-serif;
    }
    .cards {
        flex-direction: column;
    }
    .card {
        width: 90%;
        margin-bottom: 40px;
        min-height: 50vh;
    }
    .card h3 {
        font-size: 1.2rem;
    }
    .card p {
        font-size: 0.8rem;
    }
    .social-links {
        justify-content: center;
    }
    .email-footer {
        display: none;
    }
}