<header>
   <div class="logo-container">
      <h1>KJRES</h1>
   </div>
   <nav>
      <ul class="nav-links">
         <li><a href="/" class="nav-link">Home</a></li>
         <li><a href="#" class="nav-link">Courses</a></li>
         <li><a href="/students" class="nav-link">Students</a></li>
      </ul>
   </nav>
   <div class="register-container">
      <a href="/students/new">Enroll</a>
   </div>
</header>
